@{
    ViewData["Title"] = "Index";
}

<div>
    <h1> Bienvenidos al ahorcado</h1>
    <h3>Ingrese la palabra a encontrar del jugador 2</h3>
    <form action= "@Url.Action("Juego","Home")" method="post">
    <input type="password" name="palabraEnviada">
    <input type="submit" value="Comenzar">
    </form>
</div>
